body {
    box-sizing: border-box;
    background-color: lightgray;
}

.container {
    width: 600px;
    height: 100vh;
    scroll-behavior: auto;
    margin: 100px auto;
    background-color: white;
    padding: 10px;
}

fieldset {
    border: none;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title span {
    font-size: 20px;
    color: black;
}

.AddtodoInput {
    display: flex;
    flex-direction: column;
}

fieldset input {
    width: 95%;
    margin-bottom: 5px;
    padding: 10px;
}

.btn-submit {
    width: 100px;
    border-radius: 10px;
}

.label-lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-list {
    padding: 10px;
    width: 90%;
    margin-bottom: 5px;
}

.checkbox {
    width: 20px;
    height: 20px;
}